# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
test.*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Binary File
constant_e
constant_pi

# VS Code Configuration
.vscode/

# Private Test Files
*.old
assets/systemRandom.dat

# No use goroutine
goroutine_test/